@model TritonExpress.Models.ViewModels.VehicleViewModel

@using (Html.BeginForm("SearchVehicle", "Home", FormMethod.Post, new { id = "searchvehicleForm", @autocomplete = "off" }))
{
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Search Vehicle |  <a class="glyphicon glyphicon-plus-sign" asp-area="" asp-controller="Home" asp-action="AddVehicle">Create New Vehicle</a></h4>
                <hr />
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">
                            @Html.LabelFor(m => m.LicensePlateNumber)
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.LicensePlateNumber)
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <label class="control-label col-md-3">
                            @Html.LabelFor(m => m.Model)
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Model)
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <label class="control-label col-md-3">
                            @Html.LabelFor(m => m.Make)
                        </label>
                        <div class="col-sm-9 col-md-6">
                            @Html.TextBoxFor(m => m.Make)
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <label class="control-label col-md-3">
                            @Html.LabelFor(m => m.Type)
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Type)
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                            <button class="btn-success btn" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
 }
